
.card-main-buttons button{
    width: 182.33px;
    height: 40px;
}

.banner-liner{
    background: linear-gradient(90.00deg, rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),rgba(0, 103, 71, 1) 50%,rgba(1, 50, 35, 1) 100%);;
}

.main-bg{
    background-color: rgba(65, 255, 106, 0.10);

    
}

.btn1:active{
    transition: 0.1s ease;
    background-color: gray;
}



.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.card{
    box-shadow: 
    -1px 1px 5px rgba(128, 128, 128, 0.1),  
     1px 1px 5px rgba(128, 128, 128, 0.1),  
     0px 1px 5px rgba(128, 128, 128, 0.1);   
     height: 360px;
};


.card-main-right{
    box-shadow: -1px 1px 5px rgba(128, 128, 128, 0.1), 1px 1px 5px rgba(128, 128, 128, 0.1), 0px 1px 5px rgba(128, 128, 128, 0.1);
};

.hide{
    display: none;
    visibility: hidden;
}











@media (max-width: 641px) {

    .nav{
        width: 100vw !important;
        height:100% !important;
    }

    .nav-img{
        width: 25px !important;
        height: 25px !important;
    }
    .nav-left-text{
        font-size: 10px !important;

    }

    .nav-left {
        padding-left: 10px !important;
  }
    .nav-right{
        padding-right: 10px !important;
        gap: 5px !important;
        margin-left: 10px !important;
        display: flex !important;
        justify-content: end !important;
        flex-wrap: wrap !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .heart-count{
        width: 45px !important;
        height: 25px !important;
        padding: 2px !important;
        font-size: 13px !important;
        gap: 4px !important;
    }
    .heart-png{
        width: 15px !important;
        height: 15px !important;
    }
    .coin-counter{
        width: 45px !important;
        height: 25px !important;
        font-size: 13px !important;
        gap: 4px !important;
    }
    .coin-png{
        width: 15px !important;
        height: 15px !important;
    }
    .copy-counter{
        width: 45px !important;
        height: 25px !important;
        padding: 2px !important;
        font-size: 10px !important;
        gap: 4px !important;
    }
    .main-banner{
        height: 200px !important;
    }

    .main-banner-logo{
        width: 50px !important;
        height: 50px !important;
        margin-top: 10px !important;
    }

    .banner-heading{
        font-size: 20px !important;
    }
    .banner-dis{
        font-size: 10px !important;
    }
    .card-main-right{
        margin-top: 30px !important;
        font-size: 15px !important;
        width: 90vw !important;
    }

    .card-main-secrion{
         grid-template-columns: repeat(1, 90vw) !important;
         justify-content: center !important;
        
    }
    .main-section{
        display: block !important;
        width: 100vw !important;
        justify-self: center !important;
        
    }
    .card-main-buttons button{
        width: 183px !important;
        justify-self: center !important;
        
        
    }
    .card-main-right{
        justify-self: center !important;
    }

    .main-logo{
        padding-top: 21px !important;
    }

    

}


@media (max-width: 450px) {
    .card-main-buttons button{
        width: 110px !important;
        justify-self: center !important;
        
    }
    .card-main-section {
    grid-template-columns: 1fr !important;
  }
    .card-main-buttons{
        gap: 30px !important;
        justify-content: center !important;
    }
    .card{
        width: 97vw !important;
        justify-self: center !important;
    }

    .card-main-right-inside{
        max-width: 250px !important;
        font-size: 15px !important;
    }
    .last-button{
        width: 100px !important;
    }

    .card-main-right{
        justify-self: center !important;
    }
    .main-logo{
        padding-top: 21px !important;
    }
}


/* Laptop/Desktop Responsive */
@media (max-width: 1600px) {
    *{
        margin: 0;
        padding: 0;
    }
    .nav-left-text{
        margin-left: 10px;
    }
    .card-title{
        margin-top: 2x;
    }
    .main-logo-container{
        padding-top: 28.9px;
    }
    .nav{
        padding: 30px;
    }
    .main-section {
        width: 95vw;
        gap: 20px;
        margin: 0 auto;
        margin-top: 32px;
        
    }

    .card-main-secrion {
        grid-template-columns: repeat(2, 1fr); 
        justify-content: center;
        grid-template-rows: repeat(3, 230px);
    }

    .card-main-right {
        width: 350px; 
       
    }

    .card-main-buttons button {
        width: 100%; 
    }

    .main-section {
        width: 95vw;
        gap: 20px;
        justify-content: center;
    }

    .card-main-secrion {
        grid-template-columns: repeat(3, 300px); 
        grid-template-rows: repeat(3, 250px);
        gap: 30px;
    }

    .card {
        height: 250px;
        width: px;   
        font-size: 14px;
        padding: 0;
    }

    .rounded-sm{
        width: 20px;
        height: 20px;
        padding: 13px;
        margin-left: 20px;
        margin-top: 20px;
        
        
    }

    .card-title {
        font-size: 20px;
        margin-left: 20px;
    }

    .card-subtitle {
        font-size: 12px;
        margin-left: 20px;
    }

    .contact-num {
        font-size: 24px;
        margin-top: 10px;
        margin-left: 20px;
        padding-left: 0;
    }

    .usless{
        margin-left: 20px;
        text-align: center;
        width: 80px;
    }

    .heart-button{
        margin-right: 20px;
    }

    
    .card-main-buttons {
        gap: 6px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 13px;
    }
    .card-main-buttons button {
        flex: 1;              
        min-width: 100px;     
        height: 35px;
        font-size: 13px;
    }

    
    .card-main-right {
        width: 280px;   
        font-size: 14px;
        height: 810px;
        
    }
    
    .card-main-right-inside {
        width: 90%; 
        font-size: 14px;

    }
    .last-button {
        width: 90px;  
        height: 36px;
        font-size: 13px;
    }

    .nav-left-text {
        font-size: 18px;
    }

    .banner-heading {
        font-size: 32px;
    }

    .banner-dis {
        font-size: 16px;
    }

    body{
        margin-bottom: 64px;
    }
    .Call-History-title{
        font-size: 15px;
        
    }
    .let-center{
        margin-left: 10px;
    }
    
}





@media (max-width: 1300px) {
    *{
        margin: 0;
        padding: 0;
    }
    

    .nav-left-text{
        margin-left: 10px;
    }
    .nav{
        padding: 30px;
    }
    .main-section {
        width: 95vw;
        gap: 20px;
        margin: 0 auto;
        margin-top: 32px;
        
    }

    .card-main-secrion {
        grid-template-columns: repeat(2, 1fr); 
        justify-content: center;
        grid-template-rows: repeat(3, 230px);
    }

    .card-main-right {
        width: 350px; 
       
    }

    .card-main-buttons button {
        width: 100%; 
    }

    .main-section {
        /* width: 95vw; */
        gap: 20px;
        justify-content: center;
    }

    .card-main-secrion {
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
    }

    .card {
        height: 230px;
        width: 250px;   
        font-size: 14px;
        padding: 0;
    }

    .rounded-sm{
        width: 20px;
        height: 20px;
        padding: 13px;
        margin-left: 20px;
        margin-top: 20px;
        
        
    }

    .card-title {
        font-size: 20px;
        margin-left: 20px;
    }

    .card-subtitle {
        font-size: 12px;
        margin-left: 20px;
    }

    .contact-num {
        font-size: 24px;
        margin-top: 2px;
        margin-left: 20px;
        padding-left: 0;
    }

    .usless{
        margin-left: 20px;
        text-align: center;
        width: 80px;
    }

    .heart-button{
        margin-right: 20px;
    }

    
    .card-main-buttons {
        gap: 6px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 13px;
    }
    .card-main-buttons button {
        flex: 1;              
        min-width: 100px;     
        height: 35px;
        font-size: 13px;
    }

    
    .card-main-right {
        width: 280px;   
        font-size: 14px;
        height: 730px;
        
    }
    
    .card-main-right-inside {
        width: 90%; 
        font-size: 14px;

    }
    .last-button {
        width: 90px;  
        height: 36px;
        font-size: 13px;
    }

    .nav-left-text {
        font-size: 18px;
    }

    .banner-heading {
        font-size: 32px;
    }

    .banner-dis {
        font-size: 16px;
    }

    body{
        margin-bottom: 64px;
    }
    .Call-History-title{
        font-size: 15px;
        
    }
    .let-center{
        margin-left: 10px;
    }
    
}